.button {
  background-color: #fa5700;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 12px;

  &:hover {
    background-color: darken(orange, 10%);
  }

  &:active {
    transform: scale(0.95);
  }

  svg {
    margin-right: 10px;
  }
}

.signIn {
  width: 50%;
  position: relative;


  > h3 {
    margin-bottom: 20px;
  }

  .actions {
    margin-top: 10px;
  }
}