@import "~/src/scss/index.scss";
.topBar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 5;
}

.left {
  width: 20%;

  img {
    height: 30px;
  }
}

.center {
  width: 60%;
  display: flex;
  justify-content: center;
}

.right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.bars{
  display: none !important;
}

@media screen and (max-width: 500px) {
  .bars{
    display: block !important;
    position: absolute;
    top: 2rem;
    left: 0;
    width: 4rem !important;
    font-size: 2.8rem !important;
  }

  .topBar {
    background-color: $background-quaternary;
    //background-color: #3d3d3df5;
    padding: 1rem;
    position: relative;
  }

  .left {
    display: flex;
    width: 70%;
    justify-items: center;
    justify-content: center;
    margin: 0 0px;
    position: relative;
    left: 3rem;

    img {
      height: 2rem;
      overflow: hidden;
    }
  }

}

