.gridGames {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 20px;
  //<
  justify-content: space-around;
  //>
}

.game {
  width: 31%;
//<
  height: 30rem;
 /*  border: solid #3d3d3d 2px; */
//>
  margin-bottom: 10px;


  &:hover {
    opacity: 0.6;
  }

  > div {
    position: relative;
    padding: 10px 10px 0 10px;

    &:last-of-type {
      padding-top: 0;
      display: flex;
      justify-content: space-between;
    }

    > img {
      width: 100%;
      height: 25rem;
      object-position: center;
      border-radius: 16px;
    }

    .discount {
      position: absolute;
      left: 10px;
      bottom: 5px;
    }

    .price {
      font-size: 18px;
    }
  }
}


@media screen and (max-width:500px) {
  .game{
    width: 50%;
  }
}
/* =======
@media screen and (max-width: 700px) {
  .gridGames {
    display: grid;
  }

  .game {
    width: 100%;
  }
}
>>>>>>> 0d91b06532e3eb5e2fd82ca03296887401dea578 */
