@import "~/src/scss/index.scss";

.info {
  display: flex !important;
  flex-direction: column-reverse; 
}

.content {
  padding: 20px 20px 20px 0;
  border-bottom: solid #3d3d3d 2px;
  display: flex;
  justify-content: space-between;
  p {
    color: $text-secondary;
    line-height: 25px;
    width: 55%;
  }
}

.content_start{
  display: flex;
  justify-content: start;
  
  .star_on{
    font-size: 1.6rem;
    color: rgb(255, 255, 3);
  }
  .star_off{
    font-size: 1.6rem;
    color: rgba(155, 155, 46, 0.514);
  }
}

.actions {
  > button {
    padding: 12px !important;
    margin-left: 10px !important;
  }
}