@use "colors" as v;

@mixin phone{
    @media (min-width: v.$phone){
        @content;
    }
}
@mixin tablet{
    @media (min-width: v.$tablet){
        @content;
    }
}
@mixin desktop{
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin desktopXL{
    @media (min-width: v.$desktopXL){
        @content;
    }
}

@mixin grid($columns, $gap){

    display: grid;
    grid-template-columns: repeat( $columns , 1fr);
    gap: $gap;
}

@mixin resetear-lista{
    padding: 0;
    margin: 0;
    list-style: none; 
}